<!DOCTYPE html>
<html lang="kr">
 
<head>
    <title>자가 영양 진단 사이트</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">홈페이지</a>
                    </li>
                    <li role="presentation"><a href="#">로그인</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">회원가입</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">자가 영양 진단 사이트</h3>
        </div>
 
        <div class="jumbotron">
            <h1>나는 얼마나 '잘' 챙겨먹고 있을까?</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">오늘의 영양관리</a>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>칼로리 측정</h4>
                <p>'나'의 기초대사량과 오늘 먹은 음식의 칼로리를 대비해 알 수 있어요.</p>
 
                <h4>영양관리 분석</h4>
                <p>먹은 음식 내에 어떤 영양분이 얼만큼 들어있는지 알 수 있어요.</p>
 
            </div>
 
        </div>
 
        <footer class="footer">
            <p>&copy; Company 2020</p>
        </footer>
 
    </div>
</body>
 
</html>